.dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Permite que el contenedor crezca */
  min-width: 100vh;
}

.content {
  display: flex;
  padding: 20px;
  overflow-y: auto; /* Permite el desplazamiento si es necesario */
}

.left-section {
  flex: 2;
  margin-right: 20px;
}

.right-section {
  flex: 1;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
}

.dashboard-container > button {
  margin-top: 20px;
}


/* Estilos personalizados para el contenedor del diálogo */
.custom-dialog-container .mat-dialog-container {
  background-color: #f9f9f9; /* Cambia el fondo */
  border-radius: 12px; /* Agrega bordes redondeados */
  padding: 20px; /* Espaciado interno */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

/* Ajusta el contenido del diálogo */
.custom-dialog-container .content {
  max-height: 70vh; /* Altura máxima del contenido */
  overflow-y: auto; /* Barra de desplazamiento vertical si es necesario */
}

/* Estilos específicos para móviles */
@media (max-width: 768px) {
  .custom-dialog-container .mat-dialog-container {
    border-radius: 0; /* Quita bordes redondeados en móviles */
    padding: 10px; /* Reduce el espaciado interno */
  }
}