.dashboard {
  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark-mode .dashboard {
  border: 1px solid #444;
}


.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex: 1;
  padding: 20px;
}

.left-section {
  flex: 2;
  margin-right: 20px;
}

.right-section {
  flex: 1;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
}