<div class="dashboard-container w-full md:w-4/5 lg:w-3/5 mx-auto p-4">
  <h2 class="text-2xl font-bold mb-4 text-gray-800">Bienvenido al Dashboard</h2>

  <!-- Contenido Principal -->
  <div class="content flex flex-col md:flex-row gap-4">
    <!-- Sección Izquierda: Historial de Ventas -->
    <div class="left-section bg-gray-100 p-4 rounded-lg flex-1">
      <h3 class="text-lg font-semibold text-gray-800">Historial de Ventas</h3>
      <!-- Contenido -->
    </div>

    <!-- Sección Derecha: Acciones Rápidas -->
    <div class="right-section bg-gray-100 p-4 rounded-lg flex-1 md:w-1/3">
      <button 
        class="btn btn-primary w-full md:w-auto text-gray-800" 
        (click)="openManageStockModal()"
      >
        Manage Stock
      </button>
    </div>
  </div>

  <button 
    class="btn block w-full md:w-auto mt-4" 
    (click)="logout()"
  >
    Cerrar Sesión
  </button>
</div>