.dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Cambié 'height' a 'min-height' para permitir que el contenedor crezca */
}

.content {
  display: flex;
  flex: 1;
  padding: 20px;
  overflow-y: auto; /* Agrega esta propiedad para permitir el desplazamiento */
}

.left-section {
  flex: 2;
  margin-right: 20px;
}

.right-section {
  flex: 1;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
}

.dashboard-container > button {
  margin-top: 20px;
}
